.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  margin: 0;
}

li {
  margin: 1em auto;
}

.ukraine-rule {
  background-color: #0398fc;
  color: #fcdb03;
}

.drink-counter {
  margin-top: 1em;
  font-size: 3em;
  display: flex;
}

.drink-counter div {
  margin: auto 1em;
  user-select: none;
  cursor: pointer;
}

#drink-counter-value {
  cursor: text;
  user-select: auto;
}
